doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title SuperBank
    link(rel='stylesheet', href='css/app.css')
  body
    h1 SuperBank
    #container

      h2 Balance
      #balance $1000.00

      input(type="text" placeholder="Enter amount to transfer." autofocus="true")#amount

      button#deposit DEPOSIT
      button#withdraw WITHDRAW

      #clear

      table#ledger
        thead
          tr
            th Fee
            th Deposit
            th Withdrawal
            th Balance

        tbody
          tr
            td
            td
            td
            td $1000.00

    script(src='js/vendor/jquery-2.1.0.js')
    script(src='js/source/main.js')
